/*Estilos hechos por Gianluka Vazques , Jhonny Castillo , Juan Villegas*/
html{
  scroll-behavior: smooth;
}
*{
  font-family: 'Kdam Thmor Pro', sans-serif;
  color: #FC990D;
}

body {
  background-image: url("img/fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.contenedor_global{
  width: 90%;
  height:auto;
  margin:0px auto;   
 border: 1px solid rgba(225,225,226,0.8);
 box-shadow:0px 0px 10px #ccc;
 margin-top: 40px;
 margin-bottom: 40px;
 min-height: 600px;
}
.nav {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  border: rgb(255, 1, 1) solid;
}

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}
.nav li {
  display: inline-block;
  list-style: outside none none;
  margin: .5em 1em;
  padding: 0;
}
.nav a {
  padding: .5em .8em;
  color: red (112, 4, 13, 0.5);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}
.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}
.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid #db0000;
  border-right: 3px solid #ce0b05;
  transform: translate(-100%, 50%);
}
.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #db0000 ;
  border-left: 3px solid #db0000;
  transform: translate(100%, -50%)
}
.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}
.nav a:hover {
  color: #c51567;
}
.contenedor{
  width: 100%;
  height: 100vh;
  border: #a81995 solid;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.contenedor-img2{
  display: flex;
  width: 75vw;
  max-width: 700px;
  min-width: 300px;
}

.contenedor-img2 img{
  width: 100%;
  max-width: 700px;
  min-width: 300px;
  border: #ce0b05 solid;
  margin: auto;

}
#title{
  color: white;
  font-size: 45px;
}
#imagen-menu{
  width: 500px;
}
#play-button{
  color: white;
  text-transform: uppercase;
  font-size: 32px;
  margin-top: 32px;
  width: 170px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #FC990D;
  transition: all 0.5s;
}
#play-button:hover{
  width: 225px;
  color: white;
  background-color: red;
}
.contenedor-historia{
  height: 100vh auto;
  width: 100%;
 display: flex;
 flex-flow: wrap;
  align-items: center;
  border: #FC990D solid;
  justify-content: center;
  padding: 2px;


}
#right-div{
  width: 300vw;
  border: #db0000 solid;
 max-width: 700px;
 min-width: 300px;
 flex: 2 1 auto;
 padding: 5px;
}

#left-div{
  margin-left: 0px;margin-right: 10px;
  border: #db0000 solid;
  text-align: center;
  align-items: center;
  flex: 1 1 auto;
  max-width: 400px ;
  
}
#right-div img{
  width: 100%;
  margin: 3px;
  margin-right: 10px;
  
  
}


#left-div h1{
  color: rgb(204, 0, 0);
}
#left-div p{
  color: white;
  font-size: 22px;
}
.centrar{
  display: flex;
  justify-content: center;
  align-items: center;
  border: darkorange solid;
  
}

#como-jugar-button{
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  margin-top: 32px;
  width: 200px;
  height: 60px;
  border-radius: 10px;
  border: none;
  background-color: #FC990D;
  transition: all 0.5s;
  margin-left: 4px ;
  margin-right: 5px;
}
#como-jugar-button:hover{
  background-color: #a81995;
  width: 225px;
}

#como-jugar{
  height: 100vh;
  border: dodgerblue solid;
}
#contenedor-rangos{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  border: blue solid;
  text-align: center;
}

#contenedor-rangos>div{
  width: 30%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#jugar-button{
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  margin-top: 32px;
  width: 170px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #FC990D;
  transition: all 0.5s;
}
#jugar-button:hover{
  background-color: #44da17;
  width: 225px;
}

/*Aqui va a ir el juego*/
*{
  padding: 0;
  margin: 0;
}
.mega-contenedor{
  width: 1100px auto;
  height: 550px;
  margin: 0 auto;
  display: flex;
  
  
  border: 2px solid red;
}
.contenedor2{
  border : solid 5px rgb(255, 255, 255);
  width: 100% ;
  max-height: 540px;
background-size: auto;
  background-image: url("img/fondo\ duckhunt.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  animation-name: AnimacionBordeMulticolor;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  display: flex;
}
@keyframes AnimacionBordeMulticolor{
  20%{
    border : solid 5px rgb(255, 0, 0);
  }
  40%{
    border : solid 5px rgb(255, 217, 0);
  }
  60%{
    border : solid 5px rgb(115, 255, 0);
  }
  80%{
    border : solid 5px rgb(0, 89, 255);
  }
  90%{
    border : solid 5px rgb(255, 0, 212);
  }
}
/* imagen del pato */
#patorobot{
  background-image: url("img/patorobot.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: relative;
  transition-delay: .1s; 
  border: #db0000 solid;
  display: flex;  
  flex-wrap: nowrap;
}
/* imagen del pato explotando */
#patorobot:active{
  background-image: url("img/explosionanimada.gif");
  transition-delay: 50ms;/*aca retrasamos cuando aparezca la animacion de muerte*/
}

/*arma*/
#arma-box{
  
  left : 10;
  bottom: 0;
  width: 180px;
  height: 240px;
  border: none;

  background-image: url("img/frame_1.png");
  background-size: contain;
  background-position-y: 100%;
  background-repeat: no-repeat;

  animation-name: armAnim;
  animation-duration: 0.45s;
  animation-play-state: paused;

  animation-iteration-count: infinite;
}
@keyframes armAnim {
  30%{
      background-image: url("img/frame_2.png");
  }
  60%{
      background-image: url("img/frame_3.png");
  }
  100%{
      background-image: url("img/frame_1.png");
  }
}
/*PESTAÑA POPUP*/
.overlay { 
  /*position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;*/
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  border: #44da17 solid;
  display: flex;
  flex-flow: column nowrap;
}
.overlay:target{
    visibility: visible;
    opacity: 1;
}
.resultados{
  width: 100%;
  height: 100vh;
margin-top: 20px;
border:#ccc solid;
  display: flex;
  justify-content: center;
  align-items: center;
}
.centrado{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.centrado>img{
  width: 30%;
  height: 30%;
  margin-bottom: 55px;
}
#puntos{
  font-size: 45px;
}
#rango{
  font-size: 45px;
}
#botonFinal{
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  position: absolute;
  z-index: 100;
}


